body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #191919;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 40px;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #191919;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #191919;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #191919;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #191919;
    font-size: 12px;
}

button#submit {
    display: inline-block;
    text-decoration: none;
    background: #191919;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
}

button#submit:hover {
    background: transparent;
    color: #191919;
    border: 1px solid #191919;
}

